<h2>New note</h2>
<form clrForm clrLayout="vertical">
  <clr-input-container>
    <label>Title</label>
    <input clrInput type="text" [(ngModel)]="title" name="title" />
  </clr-input-container>
  <div class="clr-form-control">
    <label for="body" class="clr-control-label">Body</label>
    <angular-editor
      id="body"
      name="body"
      [config]="{ height: '320px', editable: true }"
      [placeholder]="'Enter body here...'"
      [(ngModel)]="body"
    ></angular-editor>
  </div>

  <div class="clr-form-control">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">
      Submit
    </button>
  </div>
</form>
