<h2>View note</h2>
<ng-container *ngIf="note | async as n; else loadingTemplate">
  <div class="card">
    <div class="card-header">
      <clr-icon
        shape="star"
        class="is-solid is-warning"
        *ngIf="n?.favourite"
      ></clr-icon>
      {{ n.title }}
    </div>
    <div class="card-block">
      <div class="card-media-block">
        <img class="card-media-image" />
        <div class="card-media-description">
          <span class="card-media-title">
            Created at: {{ n?.createdAt | dateAgo }}
          </span>
          <span class="card-media-text">
            Updated at: {{ n?.updatedAt | dateAgo }}
          </span>
        </div>
      </div>
      <div [innerHTML]="n.body" class="card-text"></div>
    </div>
    <div class="card-footer">
      <button
        [routerLink]="['/notes', 'edit-note']"
        [queryParams]="{ id: n.id }"
        class="btn btn-sm btn-link"
      >
        Edit
      </button>
      <button (click)="onConfirmDelete()" class="btn btn-sm btn-link">
        Delete
      </button>
      <button (click)="onFavour()" class="btn btn-sm btn-link">
        {{ n?.favourite ? 'Un-favourite' : 'Favourite' }}
      </button>
    </div>
  </div>
</ng-container>
<ng-template #loadingTemplate>
  <div class="loading-container">
    <span class="spinner spinner-md">
      Loading...
    </span>
  </div>
</ng-template>

<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">Delete note</h3>
  <div class="modal-body">
    <p>Are you sure you want delete note?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary-outline" (click)="onDelete()">
      Ok
    </button>

    <button type="button" class="btn btn-danger" (click)="onCancel()">
      Cancel
    </button>
  </div>
</clr-modal>
